.items {
  position: absolute;
  background-color: #457b9d;
  margin-top: 3px;
  text-align: center;
  border-radius: 10px;
  width: 100px;
  cursor: pointer;
}

.item {
  padding: 5px;
}

.selection {
  background-color: #457b9d;
  border-radius: 10px;
  width: 100px;
  padding: 10px;
  text-align: center;
  cursor: pointer;
  display: flex;
}

.wrapper {
  font-size: 1.2rem;
}

.down_arrow {
  margin-left: 5px;
}
