.image {
  position: absolute;
  width: 20px;
  height: 20px;
  background-image: url('images/empty-checkbox.png');
  background-size: 100% 100%;
}

.input {
  appearance: none;
}

.input:checked + .image {
  width: 20px;
  height: 20px;
  background-image: url('images/checkbox.png');
  background-size: 100% 100%;
}

.radio {
  position: relative;
}
