@use '~styles/variables' as *;

@font-face {
  font-family: 'Merriweather';
  font-weight: 400;
  src: url('../../assets/fonts/Merriweather-Regular.ttf');
}

@font-face {
  font-family: 'Merriweather';
  font-weight: 700;
  src: url('../../assets/fonts/Merriweather-Bold.ttf');
}

@font-face {
  font-family: 'Recursive';
  font-weight: 400;
  src: url('../../assets/fonts/RecursiveSansLnrSt-Regular.ttf');
}

@font-face {
  font-family: 'Recursive';
  font-weight: 700;
  src: url('../../assets/fonts/RecursiveSansLnrSt-Bold.ttf');
}

body {
  font-family: 'Recursive', 'Merriweather', 'Helvetica-Light', Helvetica, Arial,
    sans-serif;
}

.app {
  background-color: #f1faee;
  min-height: 100vh;
}
