.answer {
  display: flex;
  justify-content: space-between;

  &_checkbox {
    margin-right: 5px;
  }

  &:not(:last-child) {
    margin-bottom: 10px;
  }
}

.text {
  display: flex;
  flex-direction: column;
  align-self: center;
  border: 1px solid black;
  border-radius: 10px;
}

.info {
  display: flex;
}

.save {
  margin-left: 5px;
  padding: 5px;
  border-radius: 10px;
  border: 1px solid black;
}
