.question {
  padding: 1rem;
  margin: 10px;
  font-family: 'Recursive', 'Merriweather', sans-serif;
  font-size: 2rem;
  background-color: #457b9d;
  border-radius: 20px;

  &_header {
    display: flex;
    justify-content: space-between;
  }

  &_info {
    display: flex;
  }
}

.type {
  font-size: 1.2rem;
  background-color: #a8dadc;
  border-radius: 10px;
  display: flex;
  align-self: center;
  flex-direction: column;
  padding: 10px;
  border: 1px solid black;
}

.title {
  margin-bottom: 15px;
  display: flex;
  width: 100%;
  border-radius: 10px;
  border: 1px solid black;
  margin-right: 10px;
  flex-direction: column;
  align-self: center;
}

.answers {
  font-size: 1.5rem;
  margin-bottom: 15px;
}

.add {
  width: 30px;
  height: 30px;
}

.index {
  margin-right: 5px;
}

.buttons {
  display: flex;
  justify-content: space-between;
}

.save {
  font-size: 1.2rem;
  border-radius: 10px;
  border: 1px solid black;
  padding: 10px;
}

.create {
  margin: 0 auto;
  display: flex;
}

.answer_create {
  border-radius: 10px;
  border: 1px solid black;
  padding: 5px;
}

.number_button {
  border-radius: 10px;
  border: 1px solid black;
  padding: 5px;
}

.error {
  color: #e63946;
  font-size: 1rem;
  margin-bottom: 10px;
}
