.list {
  font-family: 'Recursive', 'Merriweather', sans-serif;
  background-color: #a8dadc;
  margin-top: 1rem;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  padding: 5px;
}

.create {
  display: flex;
  justify-content: space-between;
  padding: 5px;
  width: 100%;
}

.input {
  display: flex;
  flex-direction: column;
  padding: 5px;

  &_label {
    font-size: 0.9rem;
  }
}

.submit_button {
  background-color: #457b9d;
  padding: 8px;
  border-radius: 5px;
}

.pagination {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}

.page {
  margin: 0 20px;
  font-size: 1.4rem;
}

.header {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.test_create {
  display: flex;
}

.search {
  display: flex;
  flex-direction: column;
  align-self: center;
}

.sorts {
  display: flex;
}
