.header {
  font-family: 'Recursive', 'Merriweather', sans-serif;
  height: 75px;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  background-color: #a8dadc;
  border-radius: 20px;
}

.username {
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  align-self: center;
}

.logout {
  font-size: 1.5rem;
  padding: 7px;
  background-color: #e63946;
  color: #f1faee;
  border-radius: 8px;

  &:hover {
    background-color: #f1faee;
    color: black;
  }
}

.user_info {
  padding: 7px;
}

.admin {
  margin-top: 5px;
}
